body {
    padding: 20px;
    margin: 0px;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

a {
    font-size: 2rem;
}

div {
    margin-top: 50px;
}

footer {
    position: relative;
}

.img {
    width: 220px;
    position: relative;
    left: calc(50% - 110px);
    object-fit: contain;
    object-position: top;
}

.personal-info {
    padding-left: 50px;
}

ul {
    list-style: none;
}

@media only screen and (min-width: 700px) {
    
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    a {
        font-size: 1rem;
    }

    .footer {
        position: unset;
        display: flex;
        flex-direction: row;
    }

    .img {
        width: 220px;
        left: unset;
    }

    .personal-info h2 {
        margin-top: 0px;
    }
}